:root{
    --main-text-color: #757575;
    --title-color: #212121;
    --hero-background-color: #2F303A;
    --hero-title-color: #FFFFFF;
    --links-color: #2196F3;

    --button-main-color: #212121;
    --button-main-background: #F5F4FA;
    --body-color: #212121;
    --body-background: #FFFFFF;
    --list-color: #757575;
    --footer-background-color: #2F303A;
    --footer-link: #FFFFFF;
    --footer-link-contact: rgba(255, 255, 255, 0.6);
    --button-background: #2196F3;
    --button-box-shadow: rgba(0, 0, 0, 0.15);
    --button-primary-color: #FFFFFF;
    --button-primary-background: #2196F3;
    --button-seconary-color: #FFFFFF;
    --button-seconary-background:#2196F3;
    --portfolio-text-color: #757575;
}

body {
    color: var(--body-color);
    background: var(--body-background);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.link-del{
    text-decoration: none;
    border: none;
}

.list{
    list-style: none;
    font-weight: 500;
    line-height: 1.14;
}

.contact-m{
    color: var(--links-color);
}

.list .contact-m:hover,
.list .contact-m:focus {
    color: var(--list-color);
}

.list .contact-t:hover,
.list .contact-t:focus {
color: var(--links-color);
}


.contact-t{
    color: var(--list-color);
}

.logo{
    color: var(--links-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-accent{
    color: var(--title-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.nav{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav .link{
color: var(--title-color);

}

.nav .link:hover,
.nav .link:focus{
color: var(--links-color);
}

.nav .link-current {
    color: var(--links-color);
}


.hero {
background-color: var(--hero-background-color);
text-align: center;
}

.hero-title {
color: var(--hero-title-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;

}

.feature{
color: var(--main-text-color);
}

.feature .title{
    color: var(--title-color);
    font-size: 14px;
    line-height: 1.14;
    
}

.feature .text{
    font-weight: 400;
    line-height: 1.71;
    }

.section-title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}


.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-text {
    color: #757575;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    
}



.footer{
    background-color: var(--footer-background-color);
    font-weight: 400;
    line-height: 1.71;
}

.footer-nav .link{
    color: var(--footer-link);
    font-style: normal;
    font-weight: 400;
    font-size: 1.71;
}

.footer-nav .link-contact{
    color: var(--footer-link-contact);
    font-style: normal;
}



.footer-nav .link-contact:hover,
.footer-nav .link-contact:focus {
    color: var(--links-color);
}

.button{
    background: var(--button-background) ;
    box-shadow: 0px 4px 4px var(--button-box-shadow);
    font-family: 'Roboto';
    font-style: normal;
}

.button.primary{
    color: var(--button-primary-color);
    background: var(--button-primary-background);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;


}

/* portfolio css */

.button.seconary {
    color: var(--button-main-color);
    background: var(--button-main-background);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
}

.filter{
    list-style: none;  
}

.filter .button.seconary:hover,
.filter .button.seconary:focus {
    color: var(--button-seconary-color);
    background: var(--button-seconary-background) ;
    cursor: pointer;
}


.footer-logo-accent{
   color: var(--footer-link)
}

.visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}


.portfolio-title{
    font-size: 18px;
    line-height: 2.00;    
    letter-spacing: 0.06em;

}

.portfolio-text{
    color: var(--portfolio-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.button-current {
    color: var(--body-background);
    background: var(--links-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    cursor: pointer;
}