:root{
    --main-text-color: #757575;
    --title-color: #212121;
    --hero-background-color: #2F303A;
    --hero-title-color: #FFFFFF;
    --links-color: #2196F3;

    --button-main-color: #212121;
    --button-seconary-color: #FFFFFF;

}

body {
    color: #212121;
    background: #FFFFFF;
    font-family: Roboto;
}

.list{
    list-style: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    
}

.contact-m{
    color: var(--links-color);
}

.list .contact-m:hover,
.list .contact-m:focus {
    color: #757575;
}

.list .contact-t:hover,
.list .contact-t:focus {
color: var(--links-color);
}


.contact-t{
    color: #757575;
}

.logo{
    color: var(--links-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.nav .link{
color: var(--title-color);

}

.nav .link:hover,
.nav .link:focus{
color: var(--links-color);
}

.nav .link-current {
    color: var(--links-color);
}


.hero {
background-color: var(--hero-background-color);
width: 1600px;
height: 600px;
text-align: center;
text-transform: uppercase;
 
}

.hero-title {
color: var(--hero-title-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
text-transform: uppercase;
}

.feature{
color: var(--main-text-color);
}

.feature .title{
    color: var(--title-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
}

.feature .text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

}

.section-title{
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.work-list{
    color: var(--main-text-color);
}

.work-list .title {
    color: var(--title-color);
}

.footer{
    background-color: #2F303A;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.footer-nav .link{
    color: #FFFFFF;
}

.footer-nav .link-contact{
    color: rgba(255, 255, 255, 0.6)
}

.footer-nav .link:hover,
.footer-nav .link:focus {
    color: var(--links-color);
}


.footer-nav .link-contact:hover,
.footer-nav .link-contact:focus {
    color: var(--links-color);
}

.button{
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary{
    color: #FFFFFF;
    background: #2196F3;
    font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
}

/* portfolio css */


.button.seconary {
    color: var(--button-main-color);
    background: #F5F4FA;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.filter{
    list-style: none;
  
      
}

.filter .button.seconary:hover,
.filter .button.seconary:focus {
    color: var(--button-seconary-color);
    background: #2196F3 ;
}

.title{
    color: #212121;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
      
}